

/* police personnalisée */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* Eléments principaux de la page */
body{
    font-family: 'Raleway';
    width: 100%;
    
}

a{
    color: black;
}
/* Header */
header{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

#logo{
    margin-left: 20px;
}
#menu{
    position: relative;
    display: flex;
    
}
#menunav{
    display: flex;
}

#menu1{
    margin-right: 60px;
    padding-top: 30px;
}

#menu2{
    margin-right: 60px;
    padding-top: 30px;
}
#menu3{
    margin-right: 60px;
    padding-top: 30px;
}
#menu3 a{
    color: #0065fc;
}
#menu1 a:hover, #menu2 a:hover, #menu3 a:hover{
    color: #0065fc;
    text-shadow: 2px 2px 2px #deebff;
    
}
#rechercher{
    margin-top: 20px;
    line-height: 30px;
    margin-left: 25px;
}
form label i{
    padding: 10px 0px 15px 15px;
    margin-top: 10px;
    height: 40px;
    width: 40px;
    background-color: #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;    
}


#ville{
    height: 40px;
    border: 1px solid #F2F2F2;
    border-right: transparent;
    border-left: transparent;
    font-weight: bold;
    color: black;
}

.button{
    border: 1px solid #0065fc;
    background-color: #0065fc;
    color: white;
    font-family: 'Raleway';
    font-weight: bold;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100px;
    height: 40px;
}
.button:hover{
    font-size: 15px;
    cursor: pointer;
}

.loupe{
    visibility: hidden;
    border: 1px solid #0065fc;
    background-color: #0065fc;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    height: 40px;
    width: 40px;
    margin-left: -110px;
}

#ligne_filtres{
    display: flex;
    margin-left: 10px 10px 10px 5px;
    padding: 20px 10px 20px 0px;
}

#titre_filtres{
    font-weight: bold;
    margin-bottom: 20px;
}

#liste_filtres{
    display: flex;
}

#eco_fam{
    display: flex;
}

.filtres{
display: flex;
margin-left: 10px;
margin-right: 10px;
border: 1px solid #F2F2F2;
border-radius: 25px;
border-left: transparent;
padding-right: 10px;

}
.filtres:hover{
    box-shadow: 5px 5px 5px #0065fc;
    color: #0065fc;
}
.filtres i{
    color: #0065fc;
    border: 1px solid #deebff;
    background-color: #deebff;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nom_filtre{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding-left: 10px;
}
#information{
    display: flex;
    margin-left: 5px;

}
#information i{
    color: #0065fc;
    border:1px solid #CCC;
    border-radius: 50px;
    width:20px;
    height:20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#information p{
    margin-left:10px;
    

} 
/* Corps */
main{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;

}
main h2, h3{
    margin-left: 20px;
}
#ligne1, #ligne2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.heberg{
    background-color: #F2F2F2;
    padding-top: 20px;
    border-radius: 10px;
    margin-left: 0px;
    margin-right: 20px;
    padding-top: 30px;
    padding-left: 20px; 
    padding-right: 20px;


}
.heberg h3{
    padding-top: 20px;
    padding-bottom: 20px;
}
.heberg h3:hover{
    text-decoration: underline;
}


.cannebiere, .port, .mouettes, .mer, .panier, .amina{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    margin: 1em;

    
    
}


.photo_hebergement img{
    width: 220px;
    height: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
    object-fit: cover;  
}
.photo_hebergement, .description_hebergement, .etoiles{
    text-align: left;
    line-height: 25px;
}
.etoiles{
    display: flex;
}
.bluestar{
    color: #0065FC;
}
.greystar{
    color: #F2F2F2;
}

.populaires{
    background-color: #F2F2F2;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 10px;
    margin-right: 20px;
    margin-left: 15px;
    
}

#titre_pop{
    display: flex;
    justify-content: space-between;
    
}
#lespluspop{
    display: flex;
    flex-direction: column;
}
.photo_pop{
    display: flex;
}
.photo_pop img{
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;


}
.soleil, .eau, .bleu{
    display: flex;
    background-color: white;
    border-radius: 10px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    margin: 1em;
    width: 19em;
    
}
.description_pop{
padding-left: 5px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#lespluspop .etoiles{
    padding-top: 30px;
}

/*section activités*/
#section_activites h2{
    margin-left: 20px;
    margin-bottom: 20px;
    
}
#section_activites{
    margin-top: 40px;
    margin-bottom: 20px;

}

.activites{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: -55px;
    margin-left: -60px;
}
.pomegues_frioul, .notredame_longchamp{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pomegues_frioul{
    margin-right: -55px;
    margin-left: -55px;
}
.notredame_longchamp{

}
.vieux_port img, .calanques img{
    width: 250px;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.pomegues img{
    width: 250px;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.frioul img{
    width: 250px;
    height: 100px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.vieux_port, .pomegues, .frioul, .calanques, .notre_dame, .longchamp{
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px #f2f2f2;
    border-radius: 10px;
}
.notre_dame img, .longchamp img{
    width: 250px;
    height: 120px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Footer */
.foot{
    padding:0px;
    height:200px;
    width:100%;
    display:flex;
    background-color:#F2F2F2;
    line-height:30px;
    
}

 .foot1{
    margin-left:30px;
    margin-right:300px;
    margin-top:20px;
     
 }   

 .foot2{
    margin-right:300px;
    margin-top:20px; 
 }

 .foot3{
     margin-top: 20px;
 }
 .foot h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
 }
/* petits écrans téléphones */

 @media screen and (max-width: 768px){

    #logo{
position: absolute;
margin: 10px;
    margin-top: -25px;
    }

    #menu{
        justify-content: center;
        flex-wrap: wrap-reverse;
    }


#menu3{
    margin-left: 80%;
    padding: 0;
    margin-top: 20px;
}
h2{
    margin-right: 10px;
}

#rechercher p{
    font-size: smaller;
}
   
#ville{
    width: 56%;
}
    .button{
visibility: hidden;
    }

    .loupe{
visibility: visible;
    }

    main{
        flex-direction: column-reverse;
    }

   
    #titre_filtres{
        margin: 0px;
    }
    #ligne_filtres{
        flex-direction: column;
    }
#liste_filtres{
    flex-wrap: wrap;
}

.filtres{
    margin: 5px;
}
#information{
    margin: 0px;
}
    #information p{
        width: 100%;
        font-size: small;
    }
    #lespluspop{
        align-items: center;
    }
    .populaires{
        border-radius: 0px;
        padding: 0px;
        width: 95%;
        margin-left: 10px;

    }
    #titre_pop{
        padding-right: 10px;
        padding-top: 10px;
    }
    .soleil, .eau, .bleu{
        margin-left: 0.3em;
    }

    #ligne1, #ligne2{
        flex-direction: column;
    }

    .heberg{
        background-color: white;
        padding: 0px;
    }
    
    .cannebiere, .port, .mouettes, .mer, .panier, .amina{
box-shadow: 5px 5px 5px #F2F2F2;
border-radius: 10px;
margin-bottom: 5px;
    }

    .photo_hebergement img{
        width: 100%;
        height: 110px;
    }
   
#section_activites h4{
    margin-top: 10px;
    margin-bottom: 10px;
}
    .activites{
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
        
    }

    .vieux_port img, .pomegues img, .frioul img, .calanques img, .notre_dame img, .longchamp img{
        width: 100%;
        height: 150px;
        margin-top: 5px;
    }

    .vieux_port, .pomegues, .frioul, .calanques, .notre_dame, .longchamp{
        
    }
    .foot{
        flex-direction: column;
        margin-bottom: 30px;
        height: auto;
        padding-bottom: 30px;
    }

    .foot1, .foot2, .foot3{
        margin-right: 0px;
        margin-left: 30px;
    }

    #section_activites h4{
        margin-left: 10px;
    }
 }
/* tablettes */
 @media all and (min-width: 768px) and (max-width: 991px){
#menu{
    width: 100%;
    justify-content: space-between;
}

#menunav{

}
#menu1{
    margin-left: 30px;
}
#menu2{
    margin-left: 30px;
}
#menu3{
    margin-left: 85%;
}
#rechercher p{
    font-size: larger;
}
#information p{
    font-size: larger;
}
#titre_pop{
    justify-content: space-between;
}
#lespluspop{
    flex-direction: row;
    margin-left: 10px;
}
.populaires{
border-radius: 10px;
}
.soleil, .eau, .bleu{
    font-size: small;
}
.description_pop{
    padding-right: 10px;
}
#lespluspop .etoiles{
    padding-top: 0px;
}
.heberg{
background-color: #f2f2f2;
margin-top: 50px;
    padding-top: 10px;
}
#ligne1, #ligne2{
    flex-direction: row;
}
.cannebiere, .port, .mouettes, .mer, .panier, .amina{
    width: 100%;
}

.activites{
flex-direction: row;
}
.pomegues_frioul, .notredame_longchamp{
    margin-left: 20px;
    margin-right: -10px;
    display: block;
    align-self: center;
}
.vieux_port img, .calanques img{
height: 300px;
}
.pomegues img{
height: 150px;
}

.frioul img{
height: 100px;
}
.frioul{

}
.notre_dame img, .longchamp img{
    height: 120px;
}
.vieux_port, .pomegues, .frioul, .calanques, .notre_dame, .longchamp{
  width: 85%;  
}
.foot{
    flex-direction: row;
    justify-content: space-between;
}
.foot2{
    margin-right: 20px;
}
.foot3{
    margin-right: 20px;
}
 }

 /*grands écrans*/
 @media screen and (min-width: 992px){
     body{
         width: 100%;
     }
   
 }