/* police personnalisée */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* Eléments principaux de la page */
body {
    font-family: 'Raleway';
    max-width: 1350px;
    margin: auto;
}

#bloc_page {
    width: 100%;
}

a {
    color: black;
}

/*header*/
header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    . margin-top: 30px;
}

#logo {
    margin-left: 26px;
    margin-top: 40px;
}
nav ul{
    display: inline-flex;
}
.menu {
    display: flex;
    margin-top: 40px;
}

.menu1 {
    margin-right: 56px;
}

.menu2 {
    margin-right: 54px;
}

.menu3 {
    margin-right: 17px;
}

.menu3 span {
    color: #0065fc;
}

.menu1 span  {
    color: #0065fc;
    text-shadow: 2px 2px 2px #deebff;
    border-top: 2px solid #0065fc;
    padding-top: 40px;
}


.menu2 a:hover,
.menu3 a:hover {
    color: #0065fc;
    text-shadow: 2px 2px 2px #deebff;
    border-top: 2px solid #0065fc;
    padding-top: 40px;
}

h2 {
    font-size: 1.3em;
}

.rechercher {
    margin-left: 28px;
    margin-top: 33px;
}

.rechercher p {
    margin-top: -10px;
    font-size: 0.9em;
}

form {
    margin-left: 6px;
}

form label {
    display: inline-block;
    text-align: center;
    float: left;
    padding: 14px 17px;
    font-size: larger;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.i.fas.fa-map-marker-alt {
    vertical-align: middle;
    display: inline-block;
}

#ville::placeholder {
    color: black;
    font-weight: bold;
    font-size: medium;
    font-family: 'Raleway';

}

#ville {
    height: 50px;
    border: 1px solid #F2F2F2;
    border-right: transparent;
    border-left: transparent;
    padding-left: 12px;
    padding-right: 20px;
    float: left;
}

button {
    background-color: #0064fc;
    border: none;
    font-family: 'Raleway';
    color: white;
    font-weight: bold;
    font-size: 0.9em;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 16px;
    margin-left: -4px;
}

i.fas.fa-search {
    display: none;
    font-size: larger
}

button:hover {
    cursor: pointer;
}




#ligne_filtres {
    display: flex;
    margin: 8px 10px 21px 16px;
    padding: 20px 10px 20px 0px;
    align-items: center;
}

#titre_filtres {
    font-weight: bold;
    padding-right: 20px;
}

#liste_filtres ul {
    display: inline-flex;
    margin: 0;
    padding: 0;
}


.filtres {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #F2F2F2;
    border-radius: 25px;
    border-left: transparent;
    padding-right: 8px;
}

.filtres:hover {
    box-shadow: 5px 5px 5px #0065fc;
    color: #0065fc;
}

.filtres i {
    color: #0065fc;
    border: 1px solid #deebff;
    background-color: #deebff;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nom_filtre {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding-left: 14px;
    padding-right: 14px;
}

#information {
    display: inline;
    margin-left: 11px;
}

#information i {
    color: #0065fc;
    border: 1px solid #CCC;
    border-radius: 50px;
    width: 27px;
    height: 27px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: smaller;
}

#information span {
    margin-left: 7px;
}

/* Corps */
main {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

main h2,
h3 {
    margin-left: 16px;
}

main p {
    font-size: 0.9em;
}

#ligne1,
#ligne2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#hebergements {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 20px;
    margin-right: -21px;
}

.heberg h3:hover {
    text-decoration: underline;
}

.cannebiere,
.port,
.mouettes,
.mer,
.panier,
.amina {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    margin: 1em;
    padding: 5px 5px 10px 5px;
}

.photo_hebergement img {
    width: 227px;
    height: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.description_hebergement,
.etoiles {
    text-align: left;
    line-height: 3px;
    padding-left: 10px;
}

.etoiles {
    display: flex;
    font-size: smaller;
}

.bluestar {
    color: #0065FC;
}

.greystar {
    color: #F2F2F2;
}

/*section populaires*/
.populaires {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 20px;
}

#titre_pop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 14px;
}

i.fas.fa-chart-line {
    font-size: x-large;
}

#lespluspop {
    display: flex;
    flex-direction: column;
}

.photo_pop {
    display: flex;
}

.photo_pop img {
    height: 133px;
    width: 124px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.soleil,
.eau,
.bleu {
    display: flex;
    background-color: white;
    border-radius: 20px;
    margin: 1em;
    padding: 5px 38px 5px 5px;
}

.description_pop {
    display: flex;
    flex-direction: column;
    padding-left: 19px;
    padding-right: 11px;
    margin-top: -10px;
}

.description_pop p {
    margin-top: -15px;
    margin-bottom: 20px;
}

.description_pop .etoiles {
    margin-top: 18px;
}

/*section activités*/
#section_activites h2 {
    margin-left: 30px;
    margin-bottom: 20px;
}

#section_activites {
    margin-top: 56px;
    margin-bottom: 52px;
}

.activites {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 29px;
}

.pomegues_frioul,
.notredame_longchamp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.big_photo img {
    width: 295px;
    height: 379px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.large_photo img {
    width: 295px;
    height: 148px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.medium_photo img {
    width: 295px;
    height: 174px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.extrasmall_photo img {
    width: 295px;
    height: 108px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.small_photo img {
    width: 295px;
    height: 136px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.vieux_port,
.pomegues,
.frioul,
.calanques,
.notre_dame,
.longchamp {
    box-shadow: 5px 5px 5px #f2f2f2;
    border-radius: 20px;
}

.pomegues {
    margin-bottom: 38px;
}

#section_activites h4 {
    padding-left: 20px;
    margin-bottom: 13px;
    margin-top: 16px;
}

/* Footer */
.foot {
    display: flex;
    background-color: #F2F2F2;
    line-height: 30px;
    margin-left: -22px;
    margin-right: -22px;
}

.foot1 {
    margin-left: -2px;
    margin-top: 20px;
}

.foot2 {
    margin-left: 175px;
    margin-top: 20px;
}

.foot3 {
    margin-top: 20px;
    margin-left: 245px;
}

.foot h3 {
    margin-left: 40px;
    font-weight: bold;
}

/********** Petits écrans de téléphone **********/

@media all and (max-width: 425px) {
    header {}

   

    #logo {}

    #menu {}

    #menunav {}

    #ville {
        width: 67%;
    }


    button {
        border-radius: 15px;
        padding: 16px 17px;
        margin-left: -11px;
    }

    i.fas.fa-search {
        display: contents;
    }

    .search {
        display: none;
    }

    #titre_filtres {
        padding-bottom: 14px;
    }

    #ligne_filtres {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    #liste_filtres ul {
        flex-wrap: wrap;
    }

    .filtres {
        margin-bottom: 15px;
    }

    #information {
        display: flex;
    }

    #information i {
        width: 36px;
    }

    #information span {
        font-size: large;
    }


    main {
        flex-direction: column-reverse;
    }

    .populaires {
        border-radius: 0;
    }

    #hebergements {
        background-color: white;
    }

    #ligne1,
    #ligne2 {
        flex-direction: column;
    }

    .photo_hebergement img {
        width: 100%;
        height: 122px;
    }

    .activites {
        flex-direction: column;
    }

    .big_photo img,
    .medium_photo img,
    .large_photo img,
    .small_photo img,
    .extrasmall_photo img {
        width: 100%;
        height: 130px;
    }

    .vieux_port,
    .pomegues,
    .frioul,
    .calanques,
    .notre_dame,
    .longchamp {
        margin-bottom: 20px;
    }

    .foot {
        flex-direction: column;
        padding-left: 10px;
    }

    .foot2 {
        margin-left: 0;
    }

    .foot3 {
        margin-left: 0;
    }
}

/********** Téléphones **********/

@media all and (min-width: 426px) and (max-width: 768px) {


   
    #ville {
        width: 67%;
    }


    button {
        border-radius: 15px;
        padding: 16px 17px;
        margin-left: -11px;
    }

    i.fas.fa-search {
        display: contents;
    }

    .search {
        display: none;
    }

    #titre_filtres {
        padding-bottom: 14px;
    }

    #ligne_filtres {}

    #liste_filtres ul {}

    .filtres {
        margin-bottom: 15px;
    }

    #information {
        display: flex;
    }

    #information i {
        width: 36px;
    }

    #information span {
        font-size: large;
    }


    main {
        flex-direction: column-reverse;
    }

    .populaires {
        border-radius: 0;
    }

    #hebergements {
        background-color: white;
    }

    #ligne1,
    #ligne2 {
        flex-direction: column;
    }

    .photo_hebergement img {
        width: 100%;
        height: 122px;
    }

    .activites {
        flex-direction: column;
    }

    .big_photo img,
    .medium_photo img,
    .large_photo img,
    .small_photo img,
    .extrasmall_photo img {
        width: 100%;
        height: 130px;
    }

    .vieux_port,
    .pomegues,
    .frioul,
    .calanques,
    .notre_dame,
    .longchamp {
        margin-bottom: 20px;
    }

    .foot {
        flex-direction: column;
        padding-left: 10px;
    }

    .foot2 {
        margin-left: 0;
    }

    .foot3 {
        margin-left: 0;
    }

}

/********** Tablettes **********/
@media all and (min-width: 769px) and (max-width: 991px) {

    #ligne_filtres {
        flex-wrap: wrap;
    }

    #liste_filtres {
        padding-top: 10px;
    }

    main {
        flex-direction: column-reverse;
    }

    #lespluspop {
        flex-direction: row;
    }

    #ligne1,
    #ligne2 {}

    .photo_hebergement img {
        width: 200px;
    }

    .activites {}

    .big_photo img,
    .medium_photo img,
    .large_photo img,
    .small_photo img,
    .extrasmall_photo img {

    }

    footer {
        justify-content: space-between;
    }

    .foot1,
    .foot2,
    .foot3 {
        margin-left: 0;
    }

    .foot2,
    .foot3 {
        margin-right: 36px;
    }
}





/********** Ordinateurs **********/
@media all and (min-width: 992px) and (max-width: 1199px) {}