/* police personnalisée */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* Eléments principaux de la page */
body {
    font-family: 'Raleway';
    max-width: 1350px;
    margin: auto;
}

#bloc_page {
    width: 100%;
}

a {
    color: black;
}

/*header*/
header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#logo {
    margin-left: 1.62rem;
    margin-top: 2.5rem;
    flex: 1;
}

nav ul {
    display: inline-flex;
}

.menu {
    display: flex;
}

.menu1 {
    margin-right: 56px;
}

.menu3 {
    margin-right: 17px;
}

.menu3 span {
    color: #0065fc;
}

.menu1 span {
    color: #0065fc;
    text-shadow: 2px 2px 2px #deebff;
    border-top: 2px solid #0065fc;
    padding-top: 52px;
}


.menu2 a:hover,
.menu3 a:hover {
    color: #0065fc;
    text-shadow: 2px 2px 2px #deebff;
    border-top: 2px solid #0065fc;
    padding-top: 52px;
}

h2 {
    font-size: 1.3em;
}

.rechercher {
    margin-left: 28px;
    margin-top: 33px;
}

.rechercher p {
    margin-top: -10px;
    font-size: 0.9em;
}

form label {
    display: inline-block;
    text-align: center;
    float: left;
    padding: 14px 17px;
    font-size: larger;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.i.fas.fa-map-marker-alt {
    vertical-align: middle;
    display: inline-block;
}

#ville::placeholder {
    color: black;
    font-weight: bold;
    font-size: medium;
    font-family: 'Raleway';

}

#ville {
    height: 50px;
    border: 1px solid #F2F2F2;
    border-right: transparent;
    border-left: transparent;
    padding-left: 12px;
    padding-right: 20px;
    float: left;
}

button {
    background-color: #0064fc;
    border: none;
    font-family: 'Raleway';
    color: white;
    font-weight: bold;
    font-size: 0.9em;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 16px;
    margin-left: -4px;
}

i.fas.fa-search {
    display: none;
    font-size: larger
}

button:hover {
    cursor: pointer;
}

#ligne_filtres {
    display: flex;
    margin: 8px 10px 21px 16px;
    padding: 20px 10px 20px 0px;
    align-items: center;
}

#titre_filtres {
    font-weight: bold;
    padding-right: 20px;
}

#liste_filtres ul {
    display: inline-flex;
    margin: 0;
    padding: 0;
}

.filtres {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    border-left: transparent;
    padding-right: 8px;
}

.filtres:hover {
    box-shadow: 5px 5px 5px #0065fc;
    color: #0065fc;
}

.filtres i {
    color: #0065fc;
    border: 1px solid #deebff;
    background-color: #deebff;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nom_filtre {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding-left: 14px;
    padding-right: 14px;
}

#information {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 11px;
    justify-content: flex-start;
}

#information i {
    color: #0065fc;
    border: 1px solid #CCC;
    border-radius: 50px;
    width: 27px;
    height: 27px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: smaller;
}

#information span {
    margin-left: 7px;
}

/* Corps */
main {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

main h2,
h3 {
    margin-left: 16px;
}

main p {
    font-size: 0.9em;
}

#ligne1,
#ligne2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#hebergements {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 20px;
    width: 69%;
}

.heberg h3:hover {
    text-decoration: underline;
}

div#ligne1>div,
div#ligne2>div {
    flex: 1;
}

.cannebiere,
.port,
.mouettes,
.mer,
.panier,
.amina {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    margin: 1em;
    padding: 5px 5px 10px 5px;
}

.photo_hebergement {
    height: 150px;
    overflow: hidden;
}

.photo_hebergement img {
    width: 100%;
    height: 140px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.description_hebergement h4 {
    margin-bottom: 0;
    margin-top: 0;
}

.description_hebergement p {
    margin: 6px 0;
}

.description_hebergement,
#hebergements .etoiles {
    text-align: left;
    padding-left: 10px;
}

.etoiles {
    display: flex;
    font-size: smaller;
}

.bluestar {
    color: #0065FC;
}

.greystar {
    color: #F2F2F2;
}

/*section populaires*/
.populaires {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 20px;
    width: 29%;
}

#titre_pop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 14px;
}

i.fas.fa-chart-line {
    font-size: x-large;
}

#lespluspop {
    display: flex;
    flex-direction: column;
}

.photo_pop {
    display: flex;
    height: 140px;
}

.photo_pop img {
    height: auto;
    width: 120px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.soleil,
.eau,
.bleu {
    display: flex;
    background-color: white;
    border-radius: 20px;
    margin: 1em;
    padding: 5px;
}

.description_pop {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    height: 140px;
}

.description_pop h4 {
    margin-bottom: 0px;
}

.description_pop p {
    margin-top: 10px;
    margin-bottom: 20px;
    height: 35px;
    overflow: hidden;
}

.description_pop .etoiles {
    margin-bottom: 5px;
}



/*section activités*/
#section_activites h2 {
    margin-left: 30px;
    margin-bottom: 20px;
}

#section_activites {
    margin-top: 56px;
    margin-bottom: 52px;
}

.activites {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
}

.pomegues_frioul,
.notredame_longchamp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.big_photo img {
    width: 295px;
    height: 379px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.large_photo img {
    width: 295px;
    height: 148px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.medium_photo img {
    width: 295px;
    height: 174px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.extrasmall_photo img {
    width: 295px;
    height: 108px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.small_photo img {
    width: 295px;
    height: 136px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.vieux_port,
.pomegues,
.frioul,
.calanques,
.notre_dame,
.longchamp {
    box-shadow: 5px 5px 5px #f2f2f2;
    border-radius: 20px;
}

.pomegues {
    margin-bottom: 38px;
}

#section_activites h4 {
    padding-left: 20px;
    margin-bottom: 13px;
    margin-top: 16px;
}

/* Footer */
.foot {
    display: flex;
    background-color: #F2F2F2;
    line-height: 30px;
}

.foot1 {
    margin-left: -2px;
    margin-top: 20px;
}

.foot2 {
    margin-left: 175px;
    margin-top: 20px;
}

.foot3 {
    margin-top: 20px;
    margin-left: 245px;
}

.foot h3 {
    margin-left: 40px;
    font-weight: bold;
}


/*Ordinateurs*/
@media all and (min-width: 1239px) and (max-width: 1315px) {

    .description_pop {
        padding-left: 13px;
    }

    .description_pop p {
        overflow: visible;
    }
}



@media all and (min-width: 1025px) and (max-width: 1238px) {

    main {
        flex-direction: column-reverse;
    }

    .populaires {
        width: 100%;
        margin-bottom: 40px;
    }

    #hebergements {
        width: 100%;
    }

    .activites {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .pomegues_frioul,
    .notredame_longchamp {
        display: contents;
    }

    .big_photo img,
    .medium_photo img,
    .large_photo img,
    .small_photo img,
    .extrasmall_photo img {
        height: 175px;
    }

    .vieux_port,
    .pomegues,
    .frioul,
    .calanques,
    .notre_dame,
    .longchamp {
        margin-bottom: 30px;
    }
}



/* Tablettes */
@media all and (min-width: 768px) and (max-width: 1024px) {


    #menu span {
        border-top: none;
    }

    .menu2 a:hover,
    .menu3 a:hover {
        border-top: none;
    }

    #ligne_filtres {
        align-items: baseline;
    }

    #liste_filtres ul {
        flex-wrap: wrap;
    }

    .filtres {
        padding-right: 0;
        margin-bottom: 10px;
    }

    main {
        flex-direction: column-reverse;
    }

    .populaires {
        width: 100%;
        margin-bottom: 40px;
        padding: 20px;
    }

    #lespluspop {
        justify-content: center;
    }

    .soleil,
    .eau,
    .bleu {
        width: 96%;
        padding: 5px;
        margin: 0.5em;
    }


    #hebergements {
        width: 100%;
        padding: 20px;
        margin: 0;
    }

    #ligne1,
    #ligne2 {
        width: 100%;
        justify-content: space-around;
    }

    .cannebiere,
    .port,
    .mouettes,
    .mer,
    .panier,
    .amina {
        margin: 0.5em;
        padding: 5px;
    }

    #section_activites {
        width: 100%;
    }

    #section_activites h2 {
        margin-left: 60px;
    }

    .pomegues_frioul,
    .notredame_longchamp {
        display: contents;
    }

    .activites {
        flex-wrap: wrap;
        padding: 0 20px;
        justify-content: space-around;
    }

    .big_photo img,
    .medium_photo img,
    .large_photo img,
    .small_photo img,
    .extrasmall_photo img {
        height: 175px;
    }

    .pomegues {
        margin-bottom: 0;
    }

    .vieux_port,
    .pomegues,
    .frioul,
    .calanques,
    .notre_dame,
    .longchamp {
        margin-bottom: 30px;
    }

    .foot {
        margin: 0;
        justify-content: space-between;
        padding: 10px;
    }

    .foot2 {
        margin-left: 0;
    }

    .foot3 {
        margin-left: 0;
        margin-right: 15px;
    }
}



/* Téléphones */

@media all and (max-width: 767px) {

    header {
        flex-wrap: wrap;
    }

    #logo {
        margin-left: 10px;
    }

    #menu span {
        border-top: none;
    }

    .menu2 a:hover,
    .menu3 a:hover {
        border-top: none;
    }

    ul {
        order: 2;
    }

    nav#menu {
        order: 3;
        width: 100%;
    }

    nav#menu ul li {
        border-bottom: 2px solid #f2f2f2;
        margin: 0;
        padding: 10px 20px;
        flex: 1;
        text-align: center;
    }

    nav ul {
        width: 100%;
        margin-left: 0;
        padding: 0;
    }

    #menu ul li.active {
        border-bottom: 2px solid #0065fc;
    }


    .rechercher {
        margin-left: 0;
    }

    h2 {

        margin-left: 10px;
    }

    .rechercher p {
        margin-left: 10px;
        font-size: 0.95em;
    }

    form label {
        margin-left: 5px;
    }

    #ville {
        width: 61%;
    }


    button {
        border-radius: 15px;
        padding: 16px 17px;
        margin-left: -11px;
    }

    i.fas.fa-search {
        display: contents;
    }

    .search {
        display: none;
    }

    #titre_filtres {
        padding-bottom: 14px;
        margin-left: 14px;
    }


    #ligne_filtres {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 15px 0 10px
    }

    #liste_filtres ul {
        flex-wrap: wrap;
    }

    .filtres {
        margin-bottom: 15px;
        margin-right: 0;
        padding-right: 0;
    }

    #information {
        margin-bottom: 30px;
        align-items: flex-start;
    }

    #information i {
        width: 30px;
    }

    #information span {
        padding-top: 3px;
    }

    main {
        flex-direction: column-reverse;
    }

    .populaires {
        border-radius: 0;
        padding: 0px;
        margin-bottom: 20px;
        width: 100%;
    }

    .soleil,
    .eau,
    .bleu {
        margin-bottom: 0;
        padding: 5px 15px 5px 5px;
    }

    #lespluspop {
        margin-bottom: 30px;
    }

    .description_pop {
        justify-content: space-around;
    }

    .description_pop p {
        overflow: visible;
    }


    #hebergements h2 {
        margin-left: 0;
    }

    #hebergements {
        background-color: white;
        margin-right: 0;
        padding: 0 20px;
        width: 100%;
    }

    #ligne1,
    #ligne2 {
        flex-direction: column;
    }

    .cannebiere,
    .port,
    .mouettes,
    .mer,
    .panier,
    .amina {
        box-shadow: 5px 5px 5px #f2f2f2;
        margin: 0;
        margin-bottom: 20px;
    }

    .photo_hebergement img {
        width: 100%;
        height: 122px;
    }

    #section_activites {
        margin-bottom: 30px;
    }

    .activites {
        flex-direction: column;
        padding: 0 20px;
    }

    .big_photo img,
    .medium_photo img,
    .large_photo img,
    .small_photo img,
    .extrasmall_photo img {
        width: 100%;
        height: 130px;
    }

    .vieux_port,
    .pomegues,
    .frioul,
    .calanques,
    .notre_dame,
    .longchamp {
        margin-bottom: 25px;
    }

    .foot {
        flex-direction: column;
        padding-left: 10px;
        margin-right: 0;
    }

    .foot2 {
        margin-left: 0;
    }

    .foot3 {
        margin-left: 0;
    }
}